@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');



.Icone {
    height: 25px;
    width: 25px;
}

.feed-container {
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.feed-post {
    margin-top: 10px;
}

.search-bar {
    width: 500px;
    height: 40px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.post {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.usuario {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    color: #084F8C;
}

.post .usuario {
  position: absolute;
  top: 10px;
  left: 10px;
}

.post .cargo {
    position: absolute;
    top: 30px;
    left: 35px;
  }

.cargo { 
    font-size: 0.7em;
    font-family: 'Inter', sans-serif;
}

.post .postagem {
    position: absolute;
    top: 60px;
    left: 10px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.post .data {
    position: absolute;
    top: 40px;
    left: 140px;
    font-family: 'Inter', sans-serif;
    font-size: 0.7em;
}

.post .data-1 {
    position: absolute;
    top: 37px;
    left: 140px;
}

.post .data-2 {
    position: absolute;
    top: 40px;
    left: 155px;
    font-family: 'Inter', sans-serif;
    font-size: 0.7em;
}

.post .adicionar {
    position: absolute;
    top: 30px;
    left: 220px;
    font-family: 'Inter', sans-serif;
}

.post .adicionar1 {
    position: absolute;
    top: 15px;
    left: 195px;
    font-family: 'Inter', sans-serif;
}

.post .adicionar2 {
    position: absolute;
    top: 15px;
    left: 215px;
    font-family: 'Inter', sans-serif;
}

.adicionar1:hover {
    cursor: pointer;
    color: #EAEAEA;
}

.adicionar2:hover {
    cursor: pointer;
    color: #EAEAEA;
}

.adicionar1 {
    position: absolute;
    width: 190px;
    height: 41px;
    background: #B5CBDD;
    border: 1px solid #000000;
    border-radius: 10px;
}

.adicionar2 {
    position: absolute;
    width: 170px;
    height: 41px;
    background: #B5CBDD;
    border: 1px solid #000000;
    border-radius: 10px;
}

.comentar {
    position: absolute;
    top: 330px;
    left: 10px;
    width: 380px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
    background-color: #d9d9d9;
    font-family: 'Inter', sans-serif;
    color: rgba(0,0,0,0.3);
}

.img-post {
    height: 190px;
    width: 370px;
    padding-bottom:10px;
    border-radius: 20px;
}

.img-post-2 {
    width: 380px;
    height: 200px;
    border-radius: 20px;
}

.barra-lateral {
 position: absolute;
 width: 250px;
 height: 1050px;
 top: 68px;
 background: linear-gradient(0deg, rgba(56, 160, 255, 0.6), rgba(56, 160, 255, 0.6)), rgba(5, 17, 242, 0.9);
 border-radius: 25px;
 display: flex;
 flex-direction: column;
}

.feed-post {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.barra-lateral .icone-1{
    position: absolute;
    top: 440px;
    left: 35px;
}

.barra-lateral .cargo-1{
    position: absolute;
    top: 461px;
    left: 60px;
}

.barra-lateral .mensagem-1 {
    position: absolute;
    top: 480px;
    left: 10px;
}

.barra-lateral .icone-2{
    position: absolute;
    top: 505px;
    left: 35px;
}
.amigo-nome {
    color: #FFFFFF;
    
}

.barra-lateral .nome-2 {
    position: absolute;
    top: 495px;
    left: 65px;
    color: #FFFFFF;
}
.barra-lateral .cargo-2{
    position: absolute;
    top: 525px;
    left: 65px;
}
.barra-lateral .mensagem-2 {
    position: absolute;
    top: 542px;
    left: 10px;
}

.barra-lateral .icone-3{
    position: absolute;
    top: 575px;
    left: 35px;
}
.barra-lateral .nome-3 {
    position: absolute;
    top: 565px;
    left: 68px;
    color: #FFFFFF;
}

.barra-lateral .cargo-3{
    position: absolute;
    top: 600px;
    left: 65px;
}

.barra-lateral .mensagem-3 {
    position: absolute;
    top: 620px;
    left: 10px;
}

.grupos {
    margin-top: 180px;
}

#mensagem {
    box-sizing: border-box;
    width: 233.24px;
    height: 25px;
    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 5px;
    color: rgba(0,0,0,0.3);
    font-size: 10px;
    font-family: 'Inter', sans-serif;
}

#criar-lembrete{
    margin: 10px 10px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: #d9d9d9;
    color: rgba(0,0,0,0.5);
    font-family: 'Inter', sans-serif;
}

#atualizar{
    margin: 10px 10px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: #d9d9d9;
    color: rgba(0,0,0,0.5);
    font-family: 'Inter', sans-serif;
}
#atualizar:hover {
    color: #EAEAEA;
    cursor: pointer;
}
#criar-lembrete:hover {
    color: #EAEAEA;
    cursor: pointer;
}

#postar:hover {
    color: #EAEAEA;
    cursor: pointer;
}

#postar{
    margin: 10px 10px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: #d9d9d9;
    color: rgba(0,0,0,0.5);
    font-family: 'Inter', sans-serif;
}

.post-texto {
    width: 350px;
    height: 60px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(8, 79, 140, 0.3);
    font-family: 'Inter', sans-serif;
}


.Icone-central{
    width: 50px;
    height: 50px;
    border-radius: 34px;
    margin-top: 5px;
}

.perfil {
    border-bottom: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}

.nome-perfil{
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 2px;
    font-family: 'Inter', sans-serif;
}

#edite-perfil{
    width: 120px;
    height: 21px;
    border-radius: 5px;
    background-color: #D9D9D9;
    color: rgba(0,0,0,0.5);
    font-family: 'Inter', sans-serif;
}

#edite-perfil:hover {
    background-color:   #00D95E;
    color: #FFFFFF;
    cursor: pointer;
}

.Icone-perfil{
    width: 50px;
    height: 50px;
    border-radius: 34px;
    margin-top: 10px;

}

.lembretes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    font-family: 'Inter', sans-serif;
}

#lembretes-texto {
    width: 230px;
    height: 35px;
    background-color: #D9D9D9;
    text-align: center;
    border-radius: 5px;
    margin: auto;
    padding: 3px;
    color: rgba(0,0,0,0.5);
    font-size: 13px;
}

.pendencias-titulo{
     font-size: 17px;
     color: #FFFFFF;
     font-weight: bold;
}

.lembretes-titulo {
    font-size: 17px;
    color: #FFFFFF;
    font-weight: bold;
}

#pendencias-texto {
    width: 240px;
    height: 50px;
    background-color: #D9D9D9;
    text-align: center;
    border-radius: 5px;
    margin-top: auto;
    padding-top: 8px;
    color: rgba(0,0,0,0.5);
    font-size: 12px;
    text-decoration: none;
}

#pendencias-texto a {
   text-decoration: none;
   color: rgba(0,0,0,0.5);
}

.amigos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

#amigos-titulo {
    font-size: 17px;
    color: #FFFFFF;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}


.grupos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.grupo-titulo {
    margin-top: 6px;
    border-bottom: solid 1px black;
    font-size: 17px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.grupo-container {
    width: 235px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    height: 140px;
}

#nome-grupo {
    margin-bottom: 2px;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    color:#FFFFFF;
    font-family: 'Inter', sans-serif;
}

#numero-membros{
    font-size: 13px;
}

#ver-grupo {
    width: 220px;
    align-self: center;
    border-radius: 5px;
    color: rgba(0,0,0,0.5);
    margin-bottom: auto;
    font-family: 'Inter', sans-serif;
}
#ver-grupo:hover {
    background-color:   #00D95E;
    color: #FFFFFF;
    cursor: pointer;
}

#ajuda {
    margin-top: 40px;
    width: 240px;
    align-self: center;
    border-radius: 10px;
    height: 40px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 25px;
}
